ul {
    list-style-type: none;
}

body{
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
     width: 100%;
     height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(images/backdropp.jpg);
    margin: 5%;
    flex-direction: row;
}

.main-content{
    width: 90%;
    height: 100vh;
    background-color: rgba(50, 50, 50, 0.8);
    display: flex;
    flex-direction:column;
    color: white;
    margin-left: 5%;
    border-radius: 10px;
   
    
   
    
}

.overlay{
    width: 200px;
    height:600px;
    border: 2px solid white;
    padding: 1px;
    float: right;
    
    
}

.main-top{
    margin-left: 5%;
    margin-top: 4.2%;
}

header{
    display: inline-block;
    flex-direction: row;
}

.explain{
    
    flex-direction: column;
   
}

.links{
    
    height: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    display: inline;
}

:link {
    color: lime;
}

:visited{
    color: rgba(50, 50, 50, 0.8);
}