@media screen and (max-width: 720px) {
    .overlay{
        float: none !important;
        flex-direction: column;
    }
}


@font-face {
    font-family: andyBold;
    src:  url(Andy-Bold/ANDYB.TTF);
    font-weight: bold;
  }

ul {
    list-style-type: none;
}

body{
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
     width: 100%;
     height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(images/backdropp.jpg);
    margin: 5%;
    
    
}

.main-content{
    width: 90%;
    height: 100vh;
    background-color: rgba(50, 50, 50, 0.8);
    font-family: andyBold;
    color: white;
    margin-left: 10px;
    border-radius: 10px;
    
   
    
}

.overlay{
    width: 217.52px;
    height: 480.5px;
    border: 2px solid white;
    padding: 1px;
    float: right;
    margin-right: 5%;
    border-radius: 8px;
    
    
}

.main-top{
    margin-left: 5%;
    margin-top: 4.2%;
}

header{
    width: 400px;
    height: 50px;
    display: inline-block;
    flex-direction: row;
}

.explain{
    
    flex-direction: column;
   
}

.links{
    
    height: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    display: inline;
}

:link {
    color: lime;
}

:visited{
    color: rgba(50, 50, 50, 0.8);
}

.Ls{
    padding: 2%;
}
  
.ti-head{
    padding-top: 1px;
    width: 500px;
}

.title{
    text-align: center;
    border: 1px solid white;
    border-radius: 8px;
    padding: 6px 3px;
    margin: 6px;
}